$base-Color: #e05642
  
header
  display: flex !important
  flex-wrap: wrap
  justify-content: center
  padding: 0 !important
  height: 100%
  margin-bottom: 0 !important

h2
  margin: 0 !important

.navigationHeader
  h2 
    width: auto 
    line-height: 100% 
    font-size: 3rem 
    color: white 
    .bienvenida 
      margin-bottom: 2.5rem 
  .reloj, .fecha 
    margin-top: 6% 
    margin-bottom: 6% 
  .reloj h2, .fecha h2 
    font-size: 1.5rem 
  .reloj, .fecha, .bienvenida 
    width: 100% 

.navigationBody
  position: relative
  background-color: #f0ebbf
  margin: 0 !important

  .profile
    position: absolute
    width: 100%
    margin: 0
    top: -45px
    left: 0
    text-align: center
    z-index: 1

    img
      border: white 5px
      border-style: solid

  .containerTabs
    text-align: center
    padding: 0rem 0rem !important
    margin: 15% 0% 0% 0% !important
    div
      padding: 0rem 0rem !important
      li
        a
          color: $base-Color !important

  .tabs-transparent
    margin: 0 !important

  .tabs
    &.tabs-transparent
      .indicator
        background-color: $base-Color !important

.mb-0 
  margin-bottom: 0 !important
label 
  &.active
    color: #e05642 !important 
  
input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) 
  border-color: $base-Color !important

.TitleList
  display: flex
  align-items: center
  color: $base-Color !important
  
.addTask
  button
    display: flex 
    align-items: center 
    justify-content: center 
    width: 100% 
    background-Color: $base-Color 
    &:hover 
      background-Color: white 
      color: white
  
.NavigationFooter 
  display: flex 
  flex-wrap: wrap 
  justify-content: center 
  align-items: center 
  background-color: #1C2846 
  text-align: center 
  height: auto 
  margin: 0 !important
.textFooter 
  span 
    font-size: 1.2rem 
    color: white