/*Container Tasks*/
.containerTasks
  display: flex
  align-items: flex-start
  gap: 1rem
  padding: 0.5rem !important
  height: 100vh
  overflow: hidden
  background-image: url("./../img/background2.jpg")
  background-size: cover
  background-position: center
  h2
    color: black

.containerTodo, .containerDone, .containerProgress
  display: flex
  flex-wrap: wrap
  flex-direction: row
  align-items: center
  row-gap: 10px
  padding: 0 !important
  overflow-y: auto
  max-height: 100vh
  .titletodo, .titleprogress, .titledone
    background-color: #1C2846
    padding: 0 !important
    padding-top: 1rem !important
    padding-bottom: 1rem !important
    h2
      font-size: 2rem
  .titleprogress
    background-color: #E2573B
  .titledone
    background-color: #315052

  /*Card Tasks*/
.containerCard
  padding: 0 !important
  margin: 0 !important
  display: flex
  flex-direction: row
  flex-basis: 100%
  div
    padding: 0 !important
  & > div
    & > button
      display: flex
      padding: 0
      align-items: center
      justify-content: center
      width: 100%
      box-shadow: none !important
      border-radius: 0 !important
      background-color: rgba(0, 0, 0, 0)
      &:hover
        background-color: white
        color: #1C2846
        
::-webkit-scrollbar
  width: 5px
::-webkit-scrollbar-track
  background: #f1f1f1
::-webkit-scrollbar-thumb
  background: #888
  border-radius: 2.5px
  &:hover
    background: #555

.rowOptions
  display: flex
  flex-direction: column
  justify-content: flex-start
  flex-basis: auto
  background-color: #1C2846
.rowInformation
  margin: 0 !important
  border-radius: 0 !important
  box-shadow: none !important
  & > .card-content
    display: flex
    flex-direction: row
    padding: 0 !important
    & > .card-title
      margin: 0 !important
      text-align: center
      font-weight: bold
    & > .containerFecha
      & > span
        display: block
        margin: 0 !important
        font-size: 0.8rem
        line-height: 180%
        text-align: center !important
        font-weight: bold
        color: rgba(39, 39, 39, 50%)
.card-content
  display: flex
  position: relative
  flex-direction: row
  justify-content: space-evenly
  align-items: center
  *
    flex-grow: 1
.SeparetionLine
  content: ""
  position: absolute
  width: 80%
  height: 0.2rem
  left: 10%
  right: 10%
  bottom: -5%
  background-color: #1C2846
.cardDescription
  display: flex
  margin: 0.8rem !important
  height: 12vh
  max-height: 12vh
  flex-basis: 100%
  p
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 5
    overflow: hidden
    text-overflow: ellipsis
    margin: 0
    height: 100%
.cardFooter
  display: flex
  justify-content: space-evenly
  align-items: center
  text-align: center
  flex-direction: row
  flex-basis: 100%
  background-color: #e9e8e8
  span
    flex-grow: 1
    font-weight: bold
  button
    display: flex
    align-items: center
    justify-content: center
    flex-grow: 1
    padding: 0
    margin: 0.5rem
  .btn
    &:hover
      background-color: white !important
      color: #1C2846 !important
    .in-progress
      &:hover
        color: #E2573B !important
    .done
      &:hover
        color: #315052 !important